.menu__open {
    display: none;
}

@media screen and (max-width: 1210px) {
    .categories__container {
        margin: 0 20px
    }

    .breadcrumbs__container {
        margin: 0 20px;
    }
}

@media screen and (max-width: 1199px) {


    .header__container {
        margin: 0 20px;
        align-items: center;
    }

    .about__container {
        padding: 70px 20px;
    }

    .about {
        margin-top: 20px;
    }

    .feedbacks__container {
        padding: 0 20px 20px 20px;
    }

    .footer__container {
        padding: 30px 20px;
        flex-wrap: wrap;
    }

    .feedbacks {
        margin-top: 40px;
    }


    /*    catalog*/
    .categories__items > .categories__item {
        padding: 50px 40px 50px 40px;
        max-width: 280px;
    }

    .categories__item {
        max-width: 235px;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 237px;
    }

    .categories__item-name {
        width: 215px;
        margin: 0 10px;
    }

}

@media screen and (max-width: 1174px) {
    .categories__item-name {
        width: 165px;
    }

    .categories__item {
        max-width: 200px;
    }

    .categories__items > .categories__item {
        padding: 50px 10px 50px 10px;
        max-width: 215px;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 195px;
    }

}

@media screen and (max-width: 999px) {
    .about__container {
        text-align: center;
    }

    .feedbacks__container {
        text-align: center;
    }
}

@media screen and (max-width: 974px) {
    .categories__items:target {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 426px;
    }

    #valves > .categories__item {
        padding: 15px 10px 10px 10px;
        max-width: 426px;
    }

    .categories__items > .categories__item {
        padding: 15px 10px 10px 10px;
        max-width: 426px;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 357px;
    }

    .categories__item-block {
        justify-content: center;
    }

    .categories__items > .categories__item > .categories__item-name {
        height: 50px;
    }

    .categories__list {
        border: none;
        padding: 0 36px 0 0;
    }

    .categories__items:target {
        border-left: 2px solid #9899c4;
        padding-left: 12px;
    }

}


@media screen and (max-width: 767px) {
    .menu__open {
        display: block;
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .about__advantages {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 480px;
        flex-wrap: wrap;
        margin: 35px auto 0 auto;
    }

    .about__advantages-item {
        margin: 20px 10px 0 10px;
    }

    .footer__container {
        padding: 15px 20px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        max-width: 300px;
    }

    .address {
        margin-top: 15px;
    }

    .phones {
        margin-top: 15px;
    }

    .phones__item {
        text-align: center;
    }

    .categories__container {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .categories__items:target {
        border-left: none;
        padding-left: 0;
    }

    .categories__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }

    .categories__list {
        padding: 14px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 2px solid #9899c4;
        margin: 0;
    }

    .categories {
        padding: 0 0 45px 0;
    }

    .categories__list-item {
        margin: 0 15px;
    }
}


@media screen and (max-width: 563px) {

    .header .logo {
        display: none;
    }

    .about {
        margin-top: 0;
    }

    .about__title {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    .about__text {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #fefefe;
        margin-top: 25px;
    }

    .about__container {
        padding: 50px 20px;
    }

    .about__advantage-title {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        margin-top: 75px;
    }

    .about__advantages-text {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        max-width: 220px;
    }

    .feedbacks__title {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 32px;
        color: #fefefe;
        line-height: 32px;
    }

    .feedbacks {
        margin-top: 0;
    }

    .feedbacks__text {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #fefefe;
        margin-top: 35px;
    }


}

@media screen and (max-width: 479px) {
    .about__title {
        font-size: 28px;
        line-height: 32px;
    }

    .about__text {
        font-size: 16px;
        line-height: 23px;
    }

    .about__advantage-title {
        font-size: 28px;
        margin-top: 75px;
    }

    .feedbacks__title {
        font-size: 28px;
    }

    .feedbacks__text {
        font-size: 16px;
    }

    .address__text, .phones__item {
        font-size: 15px;
    }

    .footer {
        margin-top: 40px;
    }

    .logo__text {
        font-size: 18px;
    }
}
