.menu__open {
    display: none;
}

@media screen and (max-width: 1210px) {
    .categories__container {
        margin: 0 20px
    }

    .breadcrumbs__container {
        margin: 0 20px;
    }
}

@media screen and (max-width: 1199px) {


    .header__container {
        margin: 0 20px;
        align-items: center;
    }

    .about__container {
        padding: 70px 20px;
    }

    .about {
        margin-top: 20px;
    }

    .feedbacks__container {
        padding: 0 20px 20px 20px;
    }

    .footer__container {
        padding: 30px 20px;
        flex-wrap: wrap;
    }

    .feedbacks {
        margin-top: 40px;
    }


    /*    catalog*/
    .categories__items > .categories__item {
        padding: 50px 40px 50px 40px;
        max-width: 280px;
    }

    .categories__item {
        max-width: 235px;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 237px;
    }

    .categories__item-name {
        width: 215px;
        margin: 0 10px;
    }

}

@media screen and (max-width: 1174px) {
    .categories__item-name {
        width: 165px;
    }

    .categories__item {
        max-width: 200px;
    }

    .categories__items > .categories__item {
        padding: 50px 10px 50px 10px;
        max-width: 215px;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 195px;
    }

}

@media screen and (max-width: 999px) {
    .about__container {
        text-align: center;
    }

    .feedbacks__container {
        text-align: center;
    }
}

@media screen and (max-width: 974px) {
    .categories__items:target {
        flex-wrap: wrap;
    }

    .categories__container {
        display: flex;
        align-items: center;
    }

    #valves > .categories__item {
        padding: 0;
    }

    .categories {
        padding: 40px 0;
    }

    .categories__item-block {
    }

    .categories__items > .categories__item > .categories__item-name {
        height: 50px;
    }

    .categories__list {
        border-right: 2px solid #7c72a7;
        padding: 0 36px 0 0;
    }

    .categories__items > .categories__item {
        padding: 0;
        max-width: 400px;
    }

    .categories__item {
        max-width: 400px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
    }

    .categories__items > .categories__item > .categories__item-name {
        width: 400px;
        height: auto;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 0 10px;
        text-align: left;
    }

    .categories__item-name {
        width: 400px;
        margin: 0 0 0 10px;
        height: auto;
        text-align: left;
        font-size: 18px;
    }

    .categories__items > .categories__item > .categories__item-image {
        height: 40px;
    }

    .categories__item-image > svg {
        height: 40px;
        width: 40px;
    }

    #boilers svg {
        height: 80px;
        width: 75px;
        transform: scale(0.5) translateX(-35px) translateY(-37px);
    }

    #boilers > .categories__item svg {
        height: 125px;
        width: 125px;
        transform: scale(0.32) translateX(-134px) translateY(-133px);
    }

    .categories__item-image {
        max-height: 40px;
        max-width: 40px;
        padding: 0;
    }

    .categories__items > .categories__item > .categories__item-image {
        max-height: 40px;
        max-width: 40px;
    }


}

@media screen and (max-width: 919px) {

    div.catalog__item {
        margin: 20px 10px 0 10px;
        border-radius: 10px;
        width: 165px;
    }
    div.catalog__item-image {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 100px;
        width: 165px;
    }

    .catalog__item-name {
        font-size: 15px;
        margin-top: 15px;
    }
    .catalog__item-price {
        margin-top: 5px;
        font-size: 16px;
    }

    .catalog__category {
        margin: 45px auto 0 auto;
    }
}


@media screen and (max-width: 767px) {
    .menu__open {
        display: block;
    }

    .breadcrumbs__list-item > a {
        font-size: 18px;
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .about__advantages {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 480px;
        flex-wrap: wrap;
        margin: 35px auto 0 auto;
    }

    .header__container {
        padding: 20px 0;
    }

    .breadcrumbs {
        margin-top: 130px;
        margin-bottom: 45px;
    }

    .about__advantages-item {
        margin: 20px 10px 0 10px;
    }

    .footer__container {
        padding: 15px 20px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        max-width: 300px;
    }

    .address {
        margin-top: 15px;
    }

    .phones {
        margin-top: 15px;
    }

    .phones__item {
        text-align: center;
    }

    .categories__items > .categories__item {
        padding: 0;
        max-width: 300px;
    }

    .categories__item {
        max-width: 300px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
    }

    .categories__items > .categories__item > .categories__item-name {
        height: auto;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 0 10px;
        text-align: left;
    }

    .categories__item-name {
        margin: 0 0 0 10px;
        height: auto;
        text-align: left;
        font-size: 18px;
    }

}

@media screen and (max-width: 587px) {
    .categories__items > .categories__item {
        max-width: 225px;
    }

    .categories__item {
        max-width: 225px;
    }

    .categories__list-item {
        color: #9899c4;
        list-style: none;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 26px;
    }

    .categories__list {
        border-right: 2px solid #7c72a7;
        padding: 0 10px 0 0;
        min-width: 165px;
    }

    .categories__items > .categories__item > .categories__item-name {
        height: auto;
        font-size: 14px;
        line-height: 14px;
        margin: 0 0 0 10px;
        text-align: left;
    }

    .categories__item-name {
        margin: 0 0 0 10px;
        height: auto;
        text-align: left;
        font-size: 14px;
    }

    .categories__item > .categories__item-image {
        display: none;
    }

    .categories__item {
        margin: 10px 0 0 0;
    }
}


@media screen and (max-width: 563px) {

    .header .logo {
        display: none;
    }

    .breadcrumbs__list-item > a {
        font-size: 16px;
    }

    .about {
        margin-top: 0;
    }

    .about__title {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    .about__text {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #fefefe;
        margin-top: 25px;
    }

    .about__container {
        padding: 50px 20px;
    }

    .about__advantage-title {
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        margin-top: 75px;
    }

    .about__advantages-text {
        font-size: 18px;
        line-height: 20px;
        max-width: 220px;
    }

    .feedbacks__title {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 32px;
        color: #fefefe;
        line-height: 32px;
    }

    .feedbacks {
        margin-top: 0;
    }

    .feedbacks__text {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #fefefe;
        margin-top: 35px;
    }


}

@media screen and (max-width: 479px) {
    .about__title {
        font-size: 28px;
        line-height: 32px;
    }

    .about__text {
        font-size: 16px;
        line-height: 23px;
    }

    .about__advantage-title {
        font-size: 28px;
        margin-top: 75px;
    }

    .feedbacks__title {
        font-size: 28px;
    }

    .feedbacks__text {
        font-size: 16px;
    }

    .address__text, .phones__item {
        font-size: 15px;
    }

    .footer {
        margin-top: 40px;
    }

    .logo__text {
        font-size: 18px;
    }


    /**/
    div.catalog__item {
        width: 140px;
    }
    div.catalog__item-image {
        width: 140px;
    }

    .catalog__item-name {
        font-size: 12px;
        margin-top: 15px;
    }
    .catalog__item-price {
        margin-top: 5px;
        font-size: 14px;
    }

    .catalog__category {
        margin: 45px auto 0 auto;
    }

    div.catalog__item {
        padding: 10px 10px;
        width: 140px;
    }



}

@media screen and (max-width: 433px) {

    .categories__items > .categories__item {
        max-width: 135px;
    }

    .categories__item {
        max-width: 135px;
    }

    .categories__list-item {
        color: #9899c4;
        list-style: none;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 24px;
    }

    .categories__list {
        min-width: 130px;
    }

    .categories__items > .categories__item > .categories__item-name {
        font-size: 12px;
        margin: 0;
    }

    .categories__item-name {
        margin: 0;
        font-size: 12px;
    }

}

@media screen and (max-width: 329px) {

    .categories__container {
        margin: 0 10px;
    }

    .categories__items > .categories__item {
        max-width: 104px;
    }

    .categories__item {
        max-width: 104px;
    }
}
